<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  
  <link type="text/css" rel="stylesheet" href="../static/css/estilos.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">

  <link rel="icon" href="../static/img/logoEcommerce.ico" />

  <title>Ecommerce</title>
  
</head>

<body>
  <main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar">
      <div class="logo-container">
        <img src="../static/img/logoEcommerce.png" alt="Calzamundo Logo" class="logo">
      </div>
    </nav>
    <div class="container mt-3" style="width: 50%;">
      <div class="row">
        <!--Inicio del card-->
        <div class="card text-center">
          <div class="card-body"> <br><br>
            <h1 class="card-title">Suscripción</h1>
            <br><br><br>

            <form th:action="@{/datos}" method="post">
              <div class="row g-3">
                <!--suscripciones-->
                <div class="col-md">
                  <div class="form-floating">
                    <select class="form-select" id="suscripcionSeleccionada" name="suscripcionSeleccionada" required>
                      <option value="" disabled selected>Seleccione una opción</option>
                      <option value="1">Mensual</option>
                      <option value="2">Semestral</option>
                      <option value="3">Anual</option>
                    </select>
                  </div>
                </div>
                <!--medios de pago-->
                <div class="col-md">
                  <div class="form-floating">
                    <select class="form-select" id="metodoSeleccionado" name="metodoSeleccionado" required>
                      <option value="" disabled selected>Seleccione una opción</option>
                      <option value="1">Pago en linea</option>
                      <option value="2">Tarjeta de Credito</option>
                      <option value="3">Consignacion</option>
                    </select>
                  </div>
                </div>
                <br><br><br><br>
                <div class="row g-2" id="botones">
                  <div class="col-md"><a class="cancel-btn" th:href="@{/iniciarSesion}">Cancelar</a></div>
                  <div class="col-md"><button class="ok-btn " type="submit">Siguiente</button></div>
                </div>
              </div>
            </form>
          </div>
          <div id="exitoMensaje" th:if="${exitoso == 1 }" >
            <p class="alert alert-success">Proceso exitoso. <a th:href="@{/}">Volver</a></p> 
        </div>
        <div id="exitoMensaje" th:if="${descarga == 1 }" >
          <p class="alert alert-success">Descarga exitosa. <a th:href="@{/}">Volver</a></p> 
      </div>
        </div>
      </div>
    </div>
    </div>
    <br /><br /><br /><br />
</body>

<footer class="py-4 mt-auto" style="height: 250px;">
  
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>

</html>